{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VLEAD-Dataservices</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='js/myfunctions.js') }}"></script>
    <script type="text/template" id="repeating-form-section-template">
      <div class="form-group">
       <div class="col-sm-12">
	 <select id="'+x+'" class="form-control">
	   <option value="">Select</option>
	 </select><a href="#" class="remove_field">Remove</a></div></div>
    </script>
  </head>
  <body>   
    <br><br>
    <h3 align='center'>VLABS-DEPLOY-SPEC-FORM</h3>
    <br><br>
    <div class="container">
      <form class="form-horizontal">
	<div class="form-group">
	  <label  class="col-sm-4 control-label">DISCIPLINE : </label><BR><BR>
	  <label  class="col-sm-4 control-label">Name</label>
	  <div class="col-sm-2">
	    <select class="form-control"  id="disc-list">
	    <option>Select</option>
	    </select>
	  </div>
	</div>
	<br>
	<label  class="col-sm-4 control-label">DEVELOPER : </label><BR><BR>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Name</label>
	  <div class="col-sm-4">
	    <input type="text" class="form-control" id="dev_name" placeholder="Enter developer name">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Email</label>
	  <div class="col-sm-4">
	    <input type="text" class="form-control" id="email_id" placeholder="Enter email id">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Institute Name</label>
	  <div class="col-sm-2">
	    <select class="form-control" id="inst-list">
	    <option>Select</option>
	    </select>
	  </div>
	</div>
	<BR><BR>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">LAB DETAILS : </label><BR><BR><BR>
	  <label class="col-sm-4 control-label">Name</label>
	  <div class="col-sm-4">
	    <input type="text" class="form-control" id="lab_name" placeholder="Enter lab name">
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-sm-4 control-label">Slug</label>
	  <div class="col-sm-4">
	    <input type="text" class="form-control" id="slug" placeholder="Enter slug name">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Repo url</label>
	  <div class="col-sm-4">
	    <input type="text" class="form-control" id="repo_url" placeholder="Enter repo url">
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-sm-4 control-label">No.of Experiments</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="slug" placeholder="Enter slug here">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Integration level</label>
	  <div class="col-sm-2">
	    <select class="form-control" id="int_level">
	    <option value="">Select</option>
	    <option value="0">0</option>
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	    </select>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Is phase-II</label>
	  <div class="col-sm-2">
	    <select class="form-control" id="phase_id">
	      <option value="">Select</option>
	      <option value="1">Yes</option>
	      <option value="0">No</option>
	    </select>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Is web compliant</label>
	  <div class="col-sm-2">
	    <select class="form-control" id="web_id">
	      <option value="">Select</option>
	      <option value="1">Yes</option>
	      <option value="0">No</option>
	    </select>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Type of lab</label>
	  <div class="col-sm-2">
	    <select class="form-control" id="lab_type">
	      <option value="">Select</option>
	      <option value="Simulation">Simulation</option>
	      <option value="Remote Triggered">Remote Triggered</option>
	      <option value="Pilot phase">Pilot phase</option>
	    </select>
	  </div>
	</div>
	<div id="add">
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Technologies used</label>
	  <button class="add_field_button btn btn-default">Add More</button>&nbsp;&nbsp;&nbsp;&nbsp;
	  <!--<button class="add_new_field_button btn btn-default" id="target" onclick="new_tech();">Add New</button>-->
	  <div class="col-sm-2">
	    <select class="form-control" id="tech-list">
	      <option>Select</option>  
	    </select><p>
	  </div>
	</div>
	</div>
	
	<div class="form-group">
	  <label  class="col-sm-4 control-label" id="tech-id"></label>
	  <div class="col-sm-2" id="tech">
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Build-Requirements :</label><br><br><br>
	  <label  class="col-sm-4 control-label">Architecture</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="arch" placeholder="Enter architecture here">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Build-Command</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="build" placeholder="Enter slug here">
	  </div>
	</div>	

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Configure commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="config_command">Enter commands here
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Pre-build commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="pre_build">
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Post-build commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="post_build">
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Status</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="status" placeholder="Enter status here">
	  </div>
	</div>
	
	<div class="form-group">
	  <label  class="col-sm-4 control-label">OS</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="os" placeholder="Enter os name here">
	  </div>
	</div>
	
	<div class="form-group">
	  <label  class="col-sm-4 control-label">OS-Version</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="os_version" placeholder="Enter os version">
	  </div>
	</div>
	
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Service pack</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="service" placeholder="Enter service pack here">
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Runtime-Requirements :</label><br><br><br>
	  <label  class="col-sm-4 control-label">Installer commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="inst_commands">
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Lab-action commands :</label><br><br><br>
	  <label  class="col-sm-4 control-label">Backup commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="back_commands">
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Init commands</label>
	  <div class="col-sm-3">
	  <textarea class="form-control" rows="3" id="init_commands">
	  </textarea>
	  <font color="red">Note: Seperate commands by new line</font>
	  </div>
	</div>
	
	<div class="form-group">
	  <label  class="col-sm-4 control-label">Start</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="start" placeholder="Enter slug here">
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Stop</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="stop" placeholder="Enter slug here">
	  </div>
	</div>

	<div class="form-group">
	  <label  class="col-sm-4 control-label">Min Storage Required</label>
	  <div class="col-sm-2">
	    <input type="text" class="form-control" id="storage" placeholder="Enter slug here">
	  </div>
	</div>
	
	<div class="form-group">
	  <div class="col-sm-offset-3 col-sm-4">
	    <button type="submit" class="btn btn-default">Download JSON</button>
	  </div>
	</div>

      </form>
    </div>


  </body>
</html>
{% endblock %}
